<!-- Footer -->
<footer class="footer bg-light">
    <div class="container content-footer">
        <div class="row">
        <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
            <ul class="list-inline mb-2">
            <li class="list-inline-item">
                <a href="#">About</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
                <a href="#">Contact</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
                <a href="#">Terms of Use</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
                <a href="#">Privacy Policy</a>
            </li>
            </ul>
            <p class="small mb-4 mb-lg-0">&copy; esoftwar.es 2018. All Rights Reserved.</p>
        </div>
        <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
            <ul class="list-inline mb-0">
            <li class="list-inline-item mr-3">
                <a href="#">
                <i class="fa fa-facebook fa-2x fa-fw"></i>
                </a>
            </li>
            <li class="list-inline-item mr-3">
                <a href="#">
                <i class="fa fa-twitter fa-2x fa-fw"></i>
                </a>
            </li>
            <li class="list-inline-item">
                <a href="#">
                <i class="fa fa-instagram fa-2x fa-fw"></i>
                </a>
            </li>
            </ul>
        </div>
        </div>
    </div>
</footer>

    <!-- Bootstrap core JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="http://localhost:3000/javascripts/main.js"></script>

</body>

</html>