<div class="ui main text container">
    <div class="ui two column center aligned">
        <h1 class="ui header center aligned header-api">API esoftware.es <small>Version 1.0</small></h1>
    </div>
    <div class="alert alert-info" role="alert">
        <p>Este es una demo para un ejercicio del módulo <strong>DEVops</strong> desarrollado en el <i>VI Bootcamp Mobile</i>  </p>
        <p class="link-kc"><a href="#" class="ui center aligned item">VI Bootcamp Mobile Keepcoding.io</a></p>
    </div>
    <!-- <div class="ui two column centered grid">
        <p class="link-kc"><a href="#" class="ui center aligned item">VI Bootcamp Mobile Keepcoding.io</a></p>
    </div> -->
</div>