<div class="container">
    <div class="jumbotron">
        <h1>NodePOP <small class="h1-small">tú web de anuncios</small></h1>
        <p class="lead p-jumbo">Si deseas anunciar un productos para vender o mirar productos para comprar, esta es tú web !</p>
        <div class="row">
            <div class="col-md-6 col-lg-6">
                <button id="btn-login" type="button" class="btn btn-primary btn-lg btn-block">Login</button>
            </div>

            <div class="col-md-6 col-lg-6">
                <button id="btn-registro" type="button" class="btn btn-default btn-lg btn-block">Registro</button>
            </div>
            
        </div>
    </div> <!-- .jumbotron end -->
</div> <!-- .container end -->


