<!-- SECTION ABOUT -->
<section id="about" class="about">
    <div class="container">
        <div class="row">
        <div class="col-lg-12 mx-auto">
            <h2 class="text-center text-uppercase">Sobre esta API..</h2>
            <div class="alert alert-info">
                <p class="lead">Simula un api rest full basado en un backend con <code>node</code>, <code>express</code> y <code>mongo</code>.</p>
                <h4 class="h4-info lead bg-danger text-center text-uppercase">Esta es una web para test.</h4>
            </div>
            <div class="row">
                <div class="visible-md-* hidden-xs col-md-4">

                </div>
                <div class="col-md-4">
                    <div class="panel panel-danger center-block">
                        <div class="panel-heading text-center" style="font-size:1.8rem">! INFORMACION IMPORTANTE ¡</div>
                        <ul class="list-group">
                            <li class="text-info list-group-item">Solo se puede ver los anuncios si estas logueado como usuario.</li>
                            <li class="text-info list-group-item">Para hacer login hay un usuario demo llamado <code>fake1@fake.org</code> con contraseña <code>12345</code></li>
                            <li class="text-info list-group-item">Por seguridad este usuario solo puede consultar anuncios, no puede actualizar ni eliminar anuncios.</li>
                        </ul>
                    </div>
                </div>
                
                <div class="visible-md-* hidden-xs col-md-4">

                </div>
            </div>
            
            
        </div>
        </div>
    </div>
</section>
<!-- END SECTION ABOUT -->